section#CV {
    justify-content: center;
    align-items: center;
    background-color: #ACC2D7;
}

section#CV h2 {
    font-size: clamp(2em, 5vw + 1em, 4em);
    position: absolute;
    color: #E3EBF2;
    font-family: Cera-Pro;
    margin: -5em 1em 0 1em;
    
}
@media screen and (max-width: 850px){
    section#CV h2{
        margin: -7em 1em 0 1em;
    }
}

div#cvHeading {
    width: 100%;
}

.codingSkills {
    width: 100%;
    max-width: 80vw;
    height: 60vh;
    background-color: #283845;
    margin: 10em auto 0 0;
    position: absolute;
    box-shadow: #283845 5px 5px 5px 5px;
    border-radius: 2px;
    overflow-x: scroll;
    vertical-align: middle;
}

.codingSkills::-webkit-scrollbar {
    display: none;
}

div#gridContainer {
    width: 1545px;
    height: 100%;
    display: inline-grid;
    grid-template-columns: repeat(5, 20% [col-start]);
    grid-template-rows: 50%;
    position: absolute;
    justify-content: center;
}
.item {
    width: 80%;
    height: 70%;
    margin: 20% auto;
    display: flex;
    text-align: center;
    font-family: Cera-Pro-Light;
    background-color: #202C39;
    box-shadow: 1px 1px 1px 1px;
    border-radius: 5px;
}

img.icon {
    max-width: 128px;
    max-height: 128px;
    width: 60%;
    height: 60%;
    min-height: 32px;
    min-width: 32px;
    margin: auto auto;
    display: block;
}

@media screen and (max-width: 600px) {
    .codingSkills {
        height: 50vh;
    }
    div#gridContainer{
        grid-template-rows: 100%;
        height: 100%;
    }
    img.icon{
        width: 80%;
        height: 80%;
    }
    .item {
        width: 80%;
        height: 70%;
    }
}